<a href="https://colab.research.google.com/github/Teja-200/pandas/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install numpy
!pip install pandas

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
import pandas as pd
data = {
    "Student_ID": [101, 102, 103, 104, 105],
    "Name": ["Teja", "Rahul", "Anjali", "Sita", "Aman"],
    "Age": [20, 21, 19, 22, 20],
    "Branch": ["CSE", "ECE", "IT", "CSE", "EEE"],
    "Marks": [85, 90, 78, 88, 92]
}
df = pd.DataFrame(data)
df

   Student_ID    Name  Age Branch  Marks
0         101    Teja   20    CSE     85
1         102   Rahul   21    ECE     90
2         103  Anjali   19     IT     78
3         104    Sita   22    CSE     88
4         105    Aman   20    EEE     92

In [5]:
df.head(3)

   Student_ID    Name  Age Branch  Marks
0         101    Teja   20    CSE     85
1         102   Rahul   21    ECE     90
2         103  Anjali   19     IT     78

In [6]:
data1 = {
    "Name": ["Teja", "Rahul", "Anjali", "Sita"],
    "Branch": ["CSE", "ECE", "IT", "CSE"],
    "Sem1_Marks": [85, 78, 90, 88]
}

df1 = pd.DataFrame(data1)

data2 = {
    "Name": ["Teja", "Rahul", "Anjali", "Sita"],
    "Age": [20, 21, 19, 22],
    "City": ["Hyderabad", "Bangalore", "Chennai", "Mumbai"]
}

df2 = pd.DataFrame(data2)

In [7]:
data_merge= pd.merge(df1,df2, on='Name')

In [8]:
data_merge

     Name Branch  Sem1_Marks  Age       City
0    Teja    CSE          85   20  Hyderabad
1   Rahul    ECE          78   21  Bangalore
2  Anjali     IT          90   19    Chennai
3    Sita    CSE          88   22     Mumbai

In [9]:
movie_set = pd.read_csv('Movies_dataset.csv')

In [10]:
movie_set

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
...,...,...,...,...,...,...,...,...,...
9995,226486,Tammy,en,Comedy,"For Tammy, a burger-joint employee, a bad day ...",2.7543,1257,5.336,2014-07-02
9996,47964,A Good Day to Die Hard,en,"Action, Thriller","Iconoclastic, take-no-prisoners cop John McCla...",4.2306,6606,5.335,2013-02-06
9997,203835,Amityville: The Awakening,en,Horror,"Belle, her little sister, and her comatose twi...",5.5595,1068,5.334,2017-06-30
9998,43552,Vanishing on 7th Street,en,"Mystery, Horror, Thriller",A mysterious global blackout yields countless ...,4.5139,601,5.334,2010-09-11
9999,80304,Casa de Mi Padre,en,"Comedy, Western",Scheming of a way to save their father's ranch...,4.1805,319,5.300,2012-03-15

In [11]:
movie_set.iloc[10:20]

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
10,122,The Lord of the Rings: The Return of the King,en,"Adventure, Fantasy, Action",As armies mass for a final battle that will de...,20.8099,25756,8.491,2003-12-17
11,680,Pulp Fiction,en,"Thriller, Crime, Comedy","A burger-loving hit man, his philosophical par...",22.7251,29404,8.487,1994-09-10
12,372058,å›ã®åã¯ã€‚,ja,"Animation, Romance, Drama",High schoolers Mitsuha and Taki are complete s...,18.0858,12165,8.478,2016-08-26
13,429,"Il buono, il brutto, il cattivo",it,Western,While the Civil War rages on between the Union...,11.3880,9294,8.465,1966-12-22
14,157336,Interstellar,en,"Adventure, Drama, Science Fiction",The adventures of a group of explorers who mak...,45.8189,38436,8.464,2014-11-05
15,13,Forrest Gump,en,"Comedy, Drama, Romance",A man with a low IQ has accomplished great thi...,22.2882,28969,8.462,1994-06-23
16,769,GoodFellas,en,"Drama, Crime","The true story of Henry Hill, a half-Irish, ha...",14.3824,13840,8.452,1990-09-12
17,346,ä¸ƒäººã®ä¾,ja,"Action, Drama",A samurai answers a village's request for prot...,6.4146,4052,8.400,1954-04-26
18,12477,ç«åž‚ã‚‹ã®å¢“,ja,"Animation, Drama, War","In the final months of World War II, 14-year-o...",0.0082,6234,8.446,1988-04-16
19,637,La vita Ã¨ bella,it,"Comedy, Drama",A touching story of an Italian book seller of ...,8.5619,13677,8.441,1997-12-20

In [12]:
movie_set.describe()

                 id    popularity    vote_count  vote_average
count  1.000000e+04  10000.000000  10000.000000  10000.000000
mean   2.212515e+05      4.603044   2063.779600      6.714658
std    2.931349e+05      8.043705   3289.281439      0.672304
min    2.000000e+00      0.003300    300.000000      5.300000
25%    1.032150e+04      2.069625    473.000000      6.200000
50%    4.144250e+04      3.527850    863.000000      6.700000
75%    3.998520e+05      5.345425   2064.250000      7.200000
max    1.426776e+06    441.551500  38436.000000      8.714000

In [13]:
movie_set.head(10)

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
0,278,The Shawshank Redemption,en,"Drama, Crime",Imprisoned in the 1940s for the double murder ...,36.1467,29384,8.714,1994-09-23
1,238,The Godfather,en,"Drama, Crime","Spanning the years 1945 to 1955, a chronicle o...",37.3341,22174,8.686,1972-03-14
2,240,The Godfather Part II,en,"Drama, Crime",In the continuing saga of the Corleone crime f...,14.6729,13404,8.571,1974-12-20
3,424,Schindler's List,en,"Drama, History, War",The true story of how businessman Oskar Schind...,13.6783,16923,8.566,1993-12-15
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
5,129,åƒã¨åƒå°‹ã®ç¥žéš ã—,ja,"Animation, Family, Fantasy","A young girl, Chihiro, becomes trapped in a st...",25.6839,17726,8.533,2001-07-20
6,155,The Dark Knight,en,"Drama, Action, Crime, Thriller",Batman raises the stakes in his war on crime. ...,28.8391,34849,8.524,2008-07-16
7,19404,à¤¦à¤¿à¤²à¤µà¤¾à¤²à¥‡ à¤¦à¥à¤²à¥à¤¹à¤¨à¤¿à¤¯à¤¾ à¤²à¥‡ à¤œà¤¾à¤¯à¥‡à¤‚à¤—à¥‡,hi,"Comedy, Drama, Romance","Raj is a rich, carefree, happy-go-lucky second...",5.9649,4522,8.500,1995-10-20
8,497,The Green Mile,en,"Fantasy, Drama, Crime",A supernatural tale set on death row in a Sout...,16.0595,18626,8.503,1999-12-10
9,496243,ê¸°ìƒì¶©,ko,"Comedy, Thriller, Drama","All unemployed, Ki-taek's family takes peculia...",18.8551,19826,8.496,2019-05-30

In [15]:
movie_set.shape

(10000, 9)

In [16]:
movie_set.columns

Index(['id', 'original_title', 'original_language', 'genre', 'overview',
       'popularity', 'vote_count', 'vote_average', 'release_date'],
      dtype='object')

In [17]:
movie_set.dtypes

id                     int64
original_title        object
original_language     object
genre                 object
overview              object
popularity           float64
vote_count             int64
vote_average         float64
release_date          object
dtype: object

In [19]:
movie_set.loc[movie_set['genre'] == 'Drama']

,id,original_title,original_language,genre,overview,popularity,vote_count,vote_average,release_date
4,389,12 Angry Men,en,Drama,The defense and the prosecution have rested an...,10.6929,9589,8.548,1957-04-10
28,510,One Flew Over the Cuckoo's Nest,en,Drama,A petty criminal fakes insanity to serve his s...,8.7801,11079,8.400,1975-11-19
31,255709,ì†Œì›,ko,Drama,After 8-year-old So-won narrowly survives a br...,2.6809,811,8.400,2013-10-02
44,1058694,Radical,es,Drama,"In a Mexican border town plagued by neglect, c...",6.8117,483,8.355,2023-10-19
49,73,American History X,en,Drama,Derek Vineyard is paroled after serving 3 year...,6.4988,12207,8.330,1998-07-01
...,...,...,...,...,...,...,...,...,...
9522,254302,High-Rise,en,Drama,Life for the residents of a tower block begins...,1.4403,1223,5.623,2015-11-22
9597,164251,Serena,en,Drama,North Carolina mountains at the end of the 192...,1.5999,1050,5.580,2014-10-12
9615,10802,Showgirls,en,Drama,"Fresh to Las Vegas with no connections, Nomi M...",5.8078,1328,5.573,1995-09-22
9733,1665,Last Days,en,Drama,The life and struggles of a notorious rock mus...,0.6023,390,5.517,2005-06-12
9836,87368,17 filles,fr,Drama,"When Camille accidentally becomes pregnant, sh...",0.4712,321,5.500,2011-06-13